@media (max-width: 600px) {
    .home-navbar1 {
        display: none;
    }

    .home-header.max-width-container {
        padding-bottom: 10px;
    }

    .home-cards-container {
        gap: 1em;
    }

    .category-card-category-card {
        flex: 0 1 46.9%;
    }

    .category-card-image {
        width: 100%;
        height: 100%;
        aspect-ratio: 1/1;
    }

    .home-full-width-banner.section-container {
        flex-direction: column;
    }

    .home-left4 {
        padding: 2em 1em;
    }

    .home-text30 {
        width: initial;
    }

    .home-content {
        margin-bottom: 1em;
    }

    .home-image6 {
        width: 100%;
    }

    .home-container08 {
        justify-content: center;
    }

    .blog-post-card-blog-post-card {
        max-width: initial;
    }

    .home-footer1 {
        flex-direction: column;
        padding-bottom: 1em;
        padding-top: 55px;
    }

    .home-links-container {
        flex-direction: column;
    }

    .home-container09 {
        order: 2000;
        padding-top: 3em;
    }

    .home-main {
        padding-bottom: 71px;
    }
}