body {
    font-family: Helvetica, sans-serif;
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51);
    border: 2px solid black;
    padding: 20px;
    width: 1000px;
    margin: auto;
}

article {
    width: 60%;
}

img {
    max-width: 670px;
    height: auto;
}

body {
    display: flex;
    align-items: flex-start;
}